.button {
  max-width: 600px;
  background-color: var(--green-sicredi);
  border: 0;
  padding: 6px;
  color: var(--white);
  border-radius: 8px;
}

.button-text {
  color: var(--white);
  font-size: 16px;
  font-weight: lighter;
}
