.container {
  display: flex;
}

.content {
  border: solid 3px var(--gray-500);
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}

.list-dragons {
  max-width: 800px;
  margin: 14px auto;
}

.list-dragons article {
  width: 100%;
  padding: 15px;
  border-radius: 4px;
}

.list-dragons strong {
  display: flex;
  margin-bottom: 14px;
  text-align: center;
  font-size: 20px;
  color: var(--gray-500);
}

.button-back {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 10px 0;
}

.button-delete {
  display: flex;
  border-radius: 5px;
  padding: 10px 0;
  background-color: var(--red-500);
}
